body,
html {
  margin: auto;
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
nav {
  margin: 20px 0;
}
@media (min-width: 300px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  nav {
    flex-direction: row;
  }
}
.deck {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
@media (min-width: 300px) {
  .deck {
    flex-wrap: wrap;
  }
}
@media (min-width: 800px) {
  .deck {
    max-width: 780px;
  }
}
a {
  font-family: 'PT Serif', serif;
  background-color: #2A2D34;
  color: #eee;
  border: 2px solid #30C5FF;
  border-radius: 5px;
  text-decoration: none;
}
@media (min-width: 300px) {
  a {
    width: 450px;
    height: 26px;
    text-align: center;
    padding-top: 4px;
    margin: 3px 0;
  }
}
@media (min-width: 800px) {
  a {
    width: 150px;
    margin: 0;
  }
}
a:hover {
  background-color: #eee;
  color: #FBA423;
}
.bgImg {
  max-width: 100%;
  border: none;
  background-size: cover;
}
.logo {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  font-size: 2rem;
  text-align: center;
  border: 2px solid #2A2D34;
  padding-top: 15px;
  color: #eee;
  background-color: #FBA423;
}
@media (min-width: 300px) {
  .logo {
    max-width: 480px;
  }
}
@media (min-width: 800px) {
  .logo {
    max-width: 600px;
  }
}
@media (min-width: 1000px) {
  .logo {
    max-width: 600px;
  }
}
.middle {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 300px) {
  .middle {
    max-width: 480px;
  }
}
@media (min-width: 800px) {
  .middle {
    max-width: 800px;
  }
}
.mid-logo {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
  color: #eee;
  background-color: #FBA423;
  border: 3px dotted #C12E6A;
}
@media (min-width: 300px) {
  .mid-logo {
    max-width: 480px;
  }
}
@media (min-width: 800px) {
  .mid-logo {
    max-width: 800px;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../images/bwBack.jpg");
}
@media (min-width: 300px) {
  body {
    max-width: 520px;
  }
}
@media (min-width: 800px) {
  body {
    max-width: 820px;
  }
}
@media (min-width: 1000px) {
  body {
    max-width: 1020px;
  }
}
.card {
  width: 33%;
  border: 8px solid #2A2D34;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 300px) {
  .card {
    margin: 1.5%;
  }
}
@media (min-width: 800px) {
  .card {
    max-width: 28%;
  }
}
.card button {
  font-family: 'PT Serif', serif;
  font-size: 1.3rem;
  color: #eee;
  background: #2A2D34;
  cursor: pointer;
  border: 2px solid #30C5FF;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card button:hover {
  background: #eee;
  color: #FBA423;
}
.card img {
  max-width: 100%;
  height: auto;
}
.active-button {
  padding: 0 15px;
}
h2 {
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin: 0;
  color: #eee;
  background: #2A2D34;
}
p {
  width: 98%;
  height: 100%;
  margin: 0;
  text-align: center;
  border: 2px solid #C12E6A;
  border-radius: 2px;
  font-family: 'PT Serif', serif;
  background: #eee;
  background-size: cover;
}
.curtainL {
  position: fixed;
  top: 0;
  left: -400px;
  min-height: 100vh;
  width: 200px;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../images/laMap.jpg");
  background-size: contain;
  opacity: 0.8;
  margin-right: 5px;
}
.curtainR {
  position: fixed;
  top: 0;
  right: -400px;
  min-height: 100vh;
  width: 200px;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../images/Africa.jpg");
  background-size: contain;
  opacity: 0.8;
  margin-left: 5px;
}
.mapImg {
  object-fit: contain;
}
.tableauPlaceholder {
  margin: 30px 0;
  border: 3px solid #2A2D34;
}
