// Color Palette

@primeBack: #eee;
@primeColor1: rgba(199, 96, 96, 0.699);
@primeColor2: #696969;
@accentColor: #831332;

// Variables

@mobile: ~"min-width: 300px";
@tablet: ~"min-width: 800px";
@desktop: ~"min-width: 1000px";